body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #fcba03;
  padding: 25px 0;
}

.title {
  float: start;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 20px;
}

.upload-image-thumb {
  max-width: 800px;
  margin: 100px;
}
.image-container {
  margin: 0px auto;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #fcba03;
  padding: 25px 0;
}

.title {
  float: left;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 20px;
}

.upload-image-thumb {
  max-width: 800px;
  margin: 100px;
}
.image-container {
  margin: 0px auto;
}

.centered {
  position: relative;
  display: block;
  height : 10px;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

.photos {
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 2fr 2fr;
grid-template-rows: 2fr 2fr 2fr;
grid-gap: 2px;
min-width: 180px

  }

.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.myGallery img {
  width: 100%;
}
